@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@font-face {
    font-family: 'FontNormal';
    src: url('../fonts/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'FontLight';
    src: url('../fonts/SourceCodePro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'FontBold';
    src: url('../fonts/SourceCodePro-Bold.ttf') format('truetype');
}

:root {
    --padding-small: 8px;
    --padding-normal: 16px;
    --padding-large: 24px;
    --border-radius-small: 8px;
    --border-radius-normal: 16px;
    --border-radius-large: 32px;
}

:scope {
    --button-size: 32px;
    --icon-size: 24px;
    --icon-size-large: 48px;
    --font-size-title: 3em;
    --font-size-large: 32px;
    --font-size-text: 16px;
    --font-size-small: 12px;
}

* {
    font-family: 'FontNormal', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-user-select: none;
}

h1:focus {
    outline: none;
}

#blazor-error-ui {
    display: none;
    z-index: 1000;
    position: fixed;
    top: var(--padding-large);
}

.loading-progress {
    margin: 40vh auto 1rem auto;
    transition: all 0.1s ease;
}

    .loading-progress .circle {
        position: absolute;
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
        animation: rotate360 1s linear infinite;
    }

    .loading-progress img {
        width: 7rem;
        height: fit-content;
    }

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.font-light {
    font-family: 'FontLight', monospace;
}

.font-bold {
    font-family: 'FontBold', monospace;
}

.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: var(--border-radius-small);
    text-align: center;
    align-items: center;
    overflow: hidden;
}

    .button:active {
        transform: scale(0.95);
    }

.button-text {
    padding: var(--padding-small) var(--padding-normal);
    height: var(--button-size);
    transition: all 0.1s ease;
    font-size: var(--font-size-text);
}

.button-icon {
    width: var(--button-size);
    height: var(--button-size);
    padding: var(--padding-small);
    transition: all 0.1s ease;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

.icon-large {
    width: var(--icon-size-large);
    height: var(--icon-size-large);
    transition: all 0.1s ease;
}

.icon-font {
    font-size: var(--icon-size);
}

.icon-font-large {
    font-size: var(--icon-size-large);
    transition: all 0.1s ease;
}

.text-small {
    font-size: var(--font-size-small);
}

.text {
    font-size: var(--font-size-text);
}

.text-large {
    font-size: var(--font-size-large);
}

.text-title {
    font-size: var(--font-size-title);
}

.container, .container-fluid {
    width: 100%;
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * 0.5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.border-radius {
    border-radius: var(--border-radius-normal);
}

.border-radius-large {
    border-radius: var(--border-radius-large);
}

.vertical-center-content {
    display: flex;
    justify-content: center;
}

.vertical-center-items {
    display: flex;
    align-items: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap {
    gap: var(--padding-normal);
}

.gap-large {
    gap: var(--padding-large);
}

.margin {
    margin: var(--padding-normal);
}

.margin-large {
    margin: var(--padding-large);
}

.padding {
    padding: var(--padding-normal);
}

.padding-large {
    padding: var(--padding-large);
}

.image {
    max-width: 100%;
    height: auto
}
