:scope {
    --background-color: #151515;
    --surface-color: #292929;
    --primary-color: #9802cd;
    --primary-color-highlight: #dc9af3;
    --secondary-color: #6960fc;
}

body {
    background-color: var(--background-color);
    color: white;
}

select option {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.loading-progress .circle {
    border: 6px solid var(--primary-color);
    border-top: 6px solid var(--primary-color-highlight);
}

.primary-text-color {
    color: var(--primary-color);
}

.secondary-text-color {
    color: var(--secondary-color);
}

.primary-background-color {
    background-color: var(--primary-color);
}

.secondary-background-color {
    background-color: var(--secondary-color);
}

.background-color {
    background-color: var(--background-color);
}

.surface-background-color {
    background-color: var(--surface-color);
}

.gradient-background-color {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.border {
    box-shadow: 0 0 5px var(--primary-color), 0 0 15px var(--primary-color);
}

.parallax-card {
    border: 2px solid #fff;
    box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
}

.brand {
    box-shadow: 0 0 2px var(--primary-color), 0 0 5px var(--primary-color);
    border-radius: 50%;
    background: linear-gradient(to left, #6960fc33, #9802cd33);
}

.button {
    background: none;
    border: none;
    color: var(--primary-color);
}

    .button:hover, .active, select:focus {
        color: var(--primary-color-highlight);
    }

        .button-icon:hover, .button-text:hover, .layout .navigation-bar .button:hover > .icon, .active > .icon, select:focus {
            border: 2px solid var(--primary-color-highlight);
            box-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color);
            background: linear-gradient(to left, #6960fc, #9802cd);
        }

.grid-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 52px;
    width: 100%;
}

.grid-skills-item {
    border: 2px solid var(--primary-color-highlight);
}

    .grid-skills-item:hover {
        box-shadow: 0 0 5px var(--primary-color), 0 0 15px var(--primary-color);
    }
