@font-face {
    font-family: 'Source Code Pro';
    src: url('../assets/fonts/SourceCodePro-Medium.woff2') format('woff2'), url('../assets/fonts/SourceCodePro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --padding-small: 8px;
    --padding-normal: 16px;
    --padding-large: 24px;
    --icon-size: 32px; /* 22 */
    --button-icon-size: 42px; /* 48 */
}

:scope {
    --border-radius: 16px;
    --border-radius-large: 32px;
    --button-size: 32px;
    --icon-size-large: 48px;
    --font-size-title: 3em;
    --font-size-large: 32px;
    --font-size-text: 16px;
    --font-size-small: 12px;
}

* {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-user-select: none;
}

h1:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0 var(--padding-normal);
}

li {
    margin-bottom: var(--padding-normal);
}

#blazor-error-ui {
    display: none;
    z-index: 1000;
    position: fixed;
    top: var(--padding-large);
}

.loading-progress {
    margin: 40vh auto 1rem auto;
    transition: all 0.1s ease;
}

    .loading-progress .circle {
        position: absolute;
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
    }

    .loading-progress img {
        width: 7rem;
    }

.image {
    max-width: 100%;
    height: auto;
}

.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: var(--border-radius);
    text-align: center;
    align-items: center;
    overflow: hidden;
}

    .button:active {
        transform: scale(0.95);
    }

.button-text {
    padding: var(--padding-small) var(--padding-normal);
    height: var(--button-size);
    transition: all 0.1s ease;
    font-size: var(--font-size-text);
}

.button-icon {
    width: var(--button-icon-size);
    height: var(--button-icon-size);
    padding: var(--padding-small);
    transition: all 0.1s ease;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

.icon-large {
    width: var(--icon-size-large);
    height: var(--icon-size-large);
    transition: all 0.1s ease;
}

.chip {
    display: inline-block;
    padding: var(--padding-small);
    border-radius: var(--border-radius);
    font-size: var(--font-size-small);
}

.text-small {
    font-size: var(--font-size-small);
}

.text {
    font-size: var(--font-size-text);
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.text-large {
    font-size: var(--font-size-large);
}

.text-title {
    font-size: var(--font-size-title);
}

.container, .container-fluid {
    width: 100%;
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * 0.5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.border-radius {
    border-radius: var(--border-radius);
}

.border-radius-large {
    border-radius: var(--border-radius-large);
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.p-x {
    padding-right: var(--padding-normal);
    padding-left: var(--padding-normal);
}

.p-y {
    padding-top: var(--padding-normal);
    padding-bottom: var(--padding-normal);
}

.p-x-small {
    padding-right: var(--padding-small);
    padding-left: var(--padding-small);
}

.p-y-small {
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
}

.m-x-large {
    margin-right: var(--padding-large);
    margin-left: var(--padding-large);
}

.m-y-large {
    margin-top: var(--padding-large);
    margin-bottom: var(--padding-large);
}

.m-t-large {
    margin-top: var(--padding-large);
}

.m-b-large {
    margin-bottom: var(--padding-large);
}

.gap {
    gap: var(--padding-normal);
}

.gap-large {
    gap: var(--padding-large);
}

.grid {
    display: grid;
    max-width: 100%;
    grid-gap: var(--padding-normal);
}

.grid-items {
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-small-items {
    grid-auto-rows: var(--icon-size-large);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.card {
    width: 220px;
    height: 400px;
    flex-direction: column;
}

.card-img {
    width: 100px;
    height: 150px;
}
