@using System.Globalization
@* 
<div id="fb-root"></div>
<script async defer type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0" nonce="01k7Avbc"></script>
 *@
<ContactButtons Class="horizontal-center" />

<div class="row horizontal-center">
    <div class="badge-base LI-profile-badge" data-locale="@CultureInfo.CurrentCulture.Name" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="alejandrozamoraaz" data-version="v1"></div>
</div>
@* 
<div class="row horizontal-center m-t-large">
    <div class="fb-page" data-href="https://www.facebook.com/alejandrozamoraaz" data-tabs="timeline" data-width="336" data-height="" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/alejandrozamoraaz" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/alejandrozamoraaz">Junior Alejandro Zamora</a>
        </blockquote>
    </div>
</div>
 *@
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
