@using System.Globalization

<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<ContactButtons Class="horizontal-center" />

<div class="col col-12">
    <div class="badge-base LI-profile-badge" data-locale="@CultureInfo.CurrentCulture.Name" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="alejandrozamoraaz" data-version="v1"></div>
</div>
