@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col col-10 horizontal-center" style="z-index: 20">
        <h3 class="text">Ing.</h3>
        <h1 class="text-title">Junior Alejandro Zamora</h1>

        <h3 class="text m-t-large">@CultureDisplay["IAM"]</h3>
        <h2 class="text-large">
            <span id="writing-text"></span>
            <span id="console">|</span>
        </h2>

        <ContactButtons />
    </div>
    <div class="col col-2 horizontal-center">
        <img class="image" height="500" width="500" style="position: absolute; right: 0px" alt="Profile" src="assets/images/profile.png" />
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            List<string> words = new() { CultureDisplay["Developer"], CultureDisplay["Designer"], CultureDisplay["Engineer"] };

            await JSRuntime.InvokeVoidAsync("consoleText", words);
        }
    }
}
