@using Portfolio.Services.Projects

@inject IProjectsService Service

<div class="col col-12">
    @foreach (var type in Service.ProjectTypes)
    {
        <h1 class="m-y-large primary-text-color">@type.Type</h1>

        <div class="f-carousel carousel-projects">
            @foreach (var project in type.Projects)
            {
                <ProjectCard Project="@project" />
            }
        </div>
    }
</div>
