<div class="navigation">
    @for (int i = 0; i < NavigationService.Navigation.Count; i++)
    {
        var item = NavigationService.Navigation[i];
        <NavLink href="@item.LinkUrl" class="@(i == 0 ? "active" : "")">
            <i class="bi @item.Icon"></i>
            <h3>@item.Name</h3>
        </NavLink>
    }
</div>
