:scope {
    --top-bar-size: 64px;
    --navigation-bar-size: 76px;
}

.layout {
    display: grid;
    height: 100vh;
    grid-template-rows: var(--top-bar-size) 1fr var(--navigation-bar-size);
}

    .layout .top-bar {
        position: fixed;
        z-index: 900;
    }

        .layout .top-bar .brand {
            width: 56px;
            height: 56px;
            padding: 0 3px;
        }

            .layout .top-bar .brand > :first-child {
                transform-origin: center;
                transition: transform 1s;
            }

            .layout .top-bar .brand:hover > :first-child {
                transform: rotate(-180deg);
            }

            .layout .top-bar .brand:not(:hover) > :first-child {
                transform: rotate(0deg);
            }

        .layout .top-bar .row .col .actions {
            display: flex;
            justify-content: end;
        }

    .layout .top-bar, .footer-bar {
        width: 100%;
        height: var(--top-bar-size);
        overflow: hidden;
    }

    .layout main {
        grid-row: 2;
        grid-column: 2;
        width: 100%;
        transition: all 0.5s ease;
    }

    .layout .float-action {
        position: fixed;
        z-index: 900;
        right: var(--padding-normal);
        transition: bottom 0.5s ease;
    }

    .layout .navigation-bar {
        position: fixed;
        display: flex;
        z-index: 900;
        gap: var(--padding-normal);
        justify-content: space-evenly;
        transition: transform 0.5s ease;
        overflow: hidden;
    }

        .layout .navigation-bar .button {
            flex-direction: column;
            gap: 3px;
            width: 100%;
            height: 100%;
        }

            .layout .navigation-bar .button .icon {
                border-radius: 50%;
            }

            .active > .icon, .layout .navigation-bar .button:hover > .icon {
                transform: scale(0.95);
            }

/**/
/* For large screens */
/**/
@media (min-width: 768px) {
    .layout {
        grid-template-columns: var(--navigation-bar-size) calc(100% - var(--navigation-bar-size));
    }

        .layout .navigation-bar {
            left: -100px;
            bottom: 0;
            grid-row: 2;
            grid-column: 1;
            flex-direction: column;
            transform: translateX(100px);
            width: var(--navigation-bar-size);
            height: calc(100% - var(--top-bar-size));
        }

        .layout .float-action {
            bottom: var(--padding-normal);
        }
}

/**/
/* Styles for mobile devices and tablets in portrait mode */
/**/
@media (max-width: 767px) {
    .layout main {
        grid-column: 1;
        padding-bottom: var(--navigation-bar-size);
    }

    .layout .navigation-bar {
        grid-row: 3;
        bottom: -100px;
        flex-direction: row;
        transform: translateY(-100px);
        width: 100%;
        height: var(--navigation-bar-size);
    }

    .layout .float-action {
        bottom: var(--navigation-bar-size);
    }
}
