<div class="row m-y-large gap @Class">
    <a class="button button-icon" href="https://github.com/alejandrozamoraaz" target="_blank">
        <img class="icon" src="https://img.icons8.com/3d-fluency/94/github.png" alt="Github - icon by Icons8" />
    </a>
    <a class="button button-icon" href="https://www.linkedin.com/in/alejandrozamoraaz" target="_parent">
        <img class="icon" src="https://img.icons8.com/3d-fluency/94/linkedin.png" alt="Linkedin - icon by Icons8" />
    </a>
    <a class="button button-icon" href="https://www.instagram.com/alejandrozamoraaz" target="_blank">
        <img class="icon" src="https://img.icons8.com/3d-fluency/94/instagram-new.png" alt="Instagram - icon by Icons8" />
    </a>
    <a class="button button-icon" href="https://www.facebook.com/alejandrozamoraaz" target="_blank">
        <img class="icon" src="https://img.icons8.com/3d-fluency/94/facebook-circled.png" alt="Facebook - icon by Icons8" />
    </a>
</div>

@code {
    [Parameter] public string? Class { get; set; }
}