@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col col-9 vertical-center-content">
        <h3 class="text">Ing.</h3>
        <h1 class="text-title font-bold">Junior Alejandro Zamora</h1>
        <h3 class="text">@CultureDisplay["IAM"]</h3>
        <h2 class="text-large">
            <span id="writing-text"></span>
            <span id="console">|</span>
        </h2>
    </div>
    <div class="col col-3 center-content">
        <img src="icon-192.png" alt="logo" class="image" />
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            List<string> words = new() { CultureDisplay["Developer"], CultureDisplay["Designer"], CultureDisplay["Engineer"] };

            await JSRuntime.InvokeVoidAsync("consoleText", words);
        }
    }
}