@inject IJSRuntime JSRuntime

<button type="button" @onclick="@(async () => await JSRuntime.InvokeVoidAsync("scrollToSection", "Header"))" title="@CultureDisplay["Top"]" class="float-action button button-icon">
    <img class="icon" src="https://img.icons8.com/fluency/48/medium-icons.png" alt="Top - icon by Icons8" />
</button>
