@inherits LayoutComponentBase

<PageTitle>@CultureDisplay["PortfolioTitle"]</PageTitle>

    <div class="layout">
        <GoTop />

        <TopBar />

        <Navigation />
        <main>
            @Body

        <Footer />
    </main>
</div>

