.parallax-card {
    perspective: 1200px;
    overflow: hidden;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transform: translateZ(60px) rotateX(11deg) rotateY(16.5deg);
    position: relative;
    transition: transform 200ms ease-out;
}

    .parallax-card .parallax-item {
        height: 120%;
    }
