@page "/"

<Section SectionName="Header">
    <Portfolio.Pages.Sections.Header />
</Section>

@foreach (var item in NavigationService.Navigation)
{
    <Section SectionName="@item.LinkName">
        @item.Content
    </Section>
}
