name: Deploy Release to GitHub Page

# Define environment variables
env:
  REPOSITORY_NAME: portfolio # The name of repository
  BRANCH_NAME: portfolio-release # The branch name to deploy to

# This action is triggered when a push is made to the master branch
on:
  push:
    branches:
      - master 

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0'
          
      - name: Publish with dotnet
        run: dotnet publish -c Release

      - name: Rewrite base tag
        run: sed -i 's/<base href="\/" \/>/<base href="\/${{ env.REPOSITORY_NAME }}\/" \/>/g' /home/runner/work/Portfolio/Portfolio/Portfolio/bin/Release/net8.0/publish/wwwroot/index.html

      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4 
        with:
          branch: ${{ env.BRANCH_NAME }}
          folder: /home/runner/work/Portfolio/Portfolio/Portfolio/bin/Release/net8.0/publish/wwwroot
          clean: true      
