name: Deploy Release to GitHub Page

# Define environment variables
env:
  SOLUTION_NAME: Portfolio # The name of the solution/repository
  BRANCH_NAME: portfolio-release # The branch name to deploy to

# This action is triggered when a push is made to the master branch
on:
  push:
    branches:
      - master 

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0'

      - name: Install workloads
        run: dotnet workload restore
        
      - name: Publish with dotnet
        run: dotnet publish -p:CompressionEnabled=false --configuration Release --nologo

      - name: Rewrite base tag
        run: sed -i 's/<base href="\/" \/>/<base href="\/${{ env.SOLUTION_NAME }}\/" \/>/g' index.html

      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4 
        with:
          branch: ${{ env.BRANCH_NAME }}
          folder: bin/Release/net8.0/wwwroot
          clean: true      
